.gitignore export-ignore
.gitattributes export-ignore
/debian export-ignore
/build-deb.sh export-ignore

/doc/screenshot* export-ignore
/textures/fix_trigraphs.sh export-ignore
*.xcf export-ignore
*.blend export-ignore
/VeraBd.ttf export-ignore
